.container {
  position: relative;
  left: 0;
  top: 0;
  background-color: #060918;
}
.mapContainer {
  float: right;
  margin-top: 7vh;
}

/*  START old react stuff ----------------------------------------------------- */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* END Old react stuff ----------------------------------------------------- */

.countryOutline {
  opacity: 0.8;
}
.hideTooltip {
  display: none;
}
.showTooltip {
  display: block;
  position: absolute;
}
/* Tooltip--------------------------------------------------------------------- */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: linear-gradient(#0c2c3d, #0a2132, #081627);
  color: white;
  border-radius: 10px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
